:root {
    --cor-fundo: #ffffff;
    --cor-borda: #eff3f4;
    --cor-texto: #0f1419;
    --cor-texto-cinza-claro: #8c959b;
    --cor-texto-cinza: #536471;
    --cor-texto-cinza-escuro: #4d5a64;
    --cor-hover: #f7f7f7;
    --cor-widgets: #f7f9f9;
    /* Cinza suave para a direita */
    --twitter-blue: #1d9bf0;
}

.dark-mode {
    --cor-fundo: #000000;
    --cor-borda: #2f3336;
    --cor-texto: #eff3f4;
    --cor-texto-cinza-claro: #aab8c2;
    --cor-texto-cinza: #71767b;
    --cor-texto-cinza-escuro: #e7e9ea;
    --cor-hover: #080808;
    --cor-widgets: #16181c;
    /* Cinza escuro para o dark mode */
}

/* ESTILO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@media (max-width: 480px) {
    .signup-container {
        padding: 24px 20px;
    }

    h1 {
        font-size: 26px;
    }
}

.btn-sair {
    background-color: red;
    color: var(--cor-texto-cinza-escuro);
    border: none;
    padding: 10px 24px;
    border-radius: 9999px;
    font-weight: bold;
    cursor: pointer;
}

.btn-sair:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08));
    color: transparent;
}

.btn-sair:hover::after {
  content: "NÃO SE VÁ! =S";
  color: white;
  position: relative;
  cursor: pointer;
  left: -12px;
}

#tema-index {
    position: absolute;
    right: 0;
    margin: 10px;
    top: 0;
}

.link {
    margin-top: 15px;
    color: var(--cor-texto);
    font-size: 15px;
}

.link a {
    margin-left: 5px;
    color: #1d9bf0;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

/* TEMA DA PÁGINA */

/* --- Header --- */
header {
    padding: 15px;
    border-bottom: 1px solid var(--cor-borda);
    position: sticky;
    top: 0;
    /* de 'white' para a variável de fundo */
    background: var(--cor-fundo);
    backdrop-filter: blur(12px);
    z-index: 10;
}

header h2 {
    font-size: 20px;
    font-weight: 800;
}

/* white mode */
body:not(.dark-mode) .logo_growtw {
    display: block;
}

/* dark mode */
body.dark-mode .logo_growtw {
    display: block;
}

.btn-tema {
    background: none;
    border: none;
    color: var(--cor-texto);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    border-radius: 20px;
    transition: 0.2s;
}

.btn-tema:hover {
    background-color: var(--cor-hover);
}

/* white mode | dark mode */
body:not(.dark-mode) .logo_growtw {
    display: block;
}

